@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;700&display=swap');
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;  
  font-family:'Roboto';
  scroll-behavior: smooth   ;
}

body{
    background-color: #0e0e0e;
    color:white;
}

nav{
  height: 100vh;
  width: 100%;
}

/* Seccion de la imagen de fondo de navbar */

nav{
  background-image: url(./Imagenes/beanie-g8b11b4981_1920.jpg);
  background-position: center;
  background-size: cover;
}

.btn{
  margin-top: 30px;
  display: none;
  color: rgb(210,180,140);
}

.btn:hover{
  color: rgb(210,180,140);
}

.title{
  color: #eee;
  margin-top: 30px;
  margin-left: 30px;
}

.title::first-letter{
  color:  rgb(210,180,140);
}

.menu-container{
  display: flex;
  justify-content: space-between;
}

.menu{
  display: flex;
  margin: 30px;
  list-style: none;
}

.menu a{
  color:#eee;
  text-decoration: none;
  margin-right: 4rem;
}

.menu a:hover{
  background-color: rgb(210,180,140);
  transition: all .3s;
  width: 100px;
  padding: 10px;
  border-radius: 10px;
}

.first{
font-size: 20px;
}

.segundo{
  font-size: 30px;
}

.tercero{
  font-size: 30px;
}



.descripcion{
  margin-top: 70px;
  margin-left: 100px;
}
button {
  margin-top: 10px;
  background: none;
  background-color: rgb(210,180,140);
  width: 100px;
  height: 30px;
  border-radius: 10px;
  cursor: pointer;
}

span{
  display: block;
  font-family: monospace;
  white-space: nowrap;
  border-right: 4px solid;
  width: 13ch;

  animation: typing 2s steps(13), 
  blink .5s infinite step-end alternate;
  overflow: hidden;
}


/* Animacion */
  @keyframes typing  {
    from{ width: 0;}
  
 }

 @keyframes blink {
  50%{border-color: transparent;}
 }

.wape{
  background-image: url(./Imagenes/wave\ \(1\).png);
  background-size: cover;
  background-position: center;
  margin-top: 200px;
  height: 50%;
  width: 100%;
}
/* Movile Apple  and Samsung*/
@media screen and (max-width:500px) {
  .wape{
    margin-top:400px;
  }
}

@media screen and (max-width:950px) {
  .wape{
    margin-top: 570px;
  }
}
/* Tables */


/* Seccion de About */

@media screen and (max-width:900px) {
  .menu{
    /* display: none; */
    flex-direction: column;
    position: fixed;
    top: 70px;
    line-height: 100px;
    height: 100%;
    margin: 0;
    align-items: center;
    background-color: #0e0e0e;
    text-align: center;
    transition: all 1s;
    left: 100%;
    width: 100%;
  }
  
  .menu a{
    text-transform: uppercase;
  
  }

  .btn{
    display: block;
    margin-right: 40px;
  }
  
  .active{
    left: 0;
  }

  .descripcion{
    margin-left: 70px;
    margin-top: 60px;

  }

  .first{
    font-size: 25px;
  }

  .segundo{
    font-size: 40px;
  }

  button {
    margin-top: 10px;
    background: none;
    background-color: rgb(210,180,140);
    width: 70px;
    height: 25px;
    border-radius: 10px;
    border: none;

  }
}










section{
  height: 100vh;
}







